<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Api Client</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li>
        <h4 *ngIf="auth.isAuthenticated() ; else nologin">
          <a (click)="auth.logout()" class="btn btn-warning">Log Out</a>
        </h4>
        <ng-template #nologin>
          <h4>
            <a (click)="auth.login()" class="btn btn-success">Log In</a>
          </h4>
        </ng-template>
      </li>
    </ul>
  </div>
</nav>
